/* *  {
    outline: 1px solid red !important;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px), screen and (max-height:500px){
    .avatar {
        max-width: 200px;
    }
    p {
        font-size: 16px;
    }
    h1 {
        margin-top: 2%;
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
    .project-logo {
        max-width:160px;
    }
    /* Stroke animation feels laggy on mobile, so keep it as a simple fade in */
    body .icon-animation {
        animation: 1s fadein;
        -webkit-animation: 1s fadein;
        fill-opacity:1;
    }
}

button {
    background:transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:10%;
    color:white;
}

.container {
    margin-top:2%;
}

p {
    font-size: 18px;
    margin-bottom:1%;
}

.project-logo {
    margin-bottom:1%;
    max-width:250px;
}

svg {
    margin: 2%;
}
.avatar {
    border-radius: 50%;
    background-color:#10253fbd;
}

.row {
    margin:1%;
}

#navigation {
    margin-top:1%;
}

#footer {
    position:fixed;
    bottom:0;
    margin:0;
    padding:0;
    font-size: 10px;
}

hr {
    border-color:white;
    width: 60%;
}

a {
    color:white;
}

body {
    color:white;
    font-family: 'Roboto', sans-serif;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#particles-js {
    position:fixed;
    width: 100%;
    height: 100vh;
    background-image:radial-gradient(ellipse at top, #10253f 0%, #090a0f 100%);
}

/*=== fade in animation  ===*/
.fade-in {
    animation: 1s fadein;
    -webkit-animation: 1s fadein;
}

@keyframes fadein {
    from { opacity:0; }
    to   { opacity:1; }
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to   { opacity:1; }
}

/* === Icon stroke animation  === */
.icon-animation {
    animation: icon-animate 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) forwards, paint 1s linear forwards ;
    animation-delay: 1s, 2.5s;
    -webkit-animation-delay: 1s, 2.5s;
    stroke-dasharray: 76px;
    stroke-dashoffset: 76px;
    fill-opacity : 0;
}

@keyframes icon-animate {
    to { stroke-dashoffset: 0; }
    to { stroke-width: 0.2; }
}

@keyframes paint {
    to { fill-opacity: 1; }
}

@-webkit-keyframes icon-animate {
    to { stroke-dashoffset: 0; }
    to { stroke-width: 0.2; }
}

@-webkit-keyframes paint {
    to { fill-opacity: 0.9; }
}